numpy==1.21.0
scipy
scikit-learn
faiss-cpu
transformers
torch
torchvision
torchaudio
streamlit
pandas
Pillow
gdown
ftfy
regex
tqdm
pyarrow
jinja2
attrs
certifi
charset-normalizer
idna
markdown-it-py
altair
blinker
cachetools
click
gitpython
mpmath
huggingface-hub
filelock
fsspec
networkx
colorama
pyyaml
pytz
python-dateutil

git+https://github.com/openai/CLIP.git

